/* import */

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@300;400&display=swap");

/* Variables */

:root {
  --principal-color: #6cc0c0;
  --secondary-color:  #c1e2fa;
  --link-color: #ffffff;
  --extra-colorW: white;
  --extra-colorB: black;
  --font-paragraph: "Roboto", sans-serif;
  --font-titule: "PT Sans", sans-serif;
  --font-link: ;
  --text-xl: 4em;
  --text-lg: 3em;
  --text-md: 2em;
}

/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*
Buena practica para fuentes em
para espaciado margenes y padding rem
*/

/* Globals*/

html {
  font-size: 62.5%;
  /*Para calcular a 10px*/
  font-family: var(--font-primary);
  background-color: var(--secondary-color);
}


body {
  min-height: 100vh;
  background-color: var(--font-secondary);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: blue;
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: var(--text-md);
}

p {
  color: var(--extra-colorW);
  font-size: var(--text-md);
  font-family: var(--font-paragraph);
}

h1{
  font-size: var(--text-xl);
  font-family: var(--font-titule);
  color: var(--extra-colorW);
  
}



h2,
h3 {
  font-size: var(--text-md);
  font-family: var(--font-titule);
  color: var(--extra-colorW);
}

label {
  font-size: var(--text-md);
  font-family: var(--font-paragraph);
  color: var(--extra-colorW);
}

/* Helpers */


/* Grid template areas */



/* Header */


nav{
  background-color:var(--secondary-color);
}

.nav-item{
    padding-left: 2em;
}

a:active,li a:hover{
  
  background-color: blue;
  transition: 2s;
}

header {
background-color: var(--secondary-color);
}

header .navbar {
  min-height: 10vh;
  /* 10% del alto visible de la pantalla */
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

header .logo {
  flex-basis: 30%;
  height: fit-content;
}

.logo__img {
  height: 5.5rem;
  padding: 0.1rem;
}

header .menu {
  flex-basis: 40%;
  justify-content: space-between;
}

.menu .menu__link {
  font-size: var(--text-lg);
  font-family: var(--font-secondary);
  padding: 0 2rem;
}

/* Main */

main {
  min-height: 80vh;
  align-items: center;
  animation: fadeInAnimation linear 2.5s;
}


article {
  grid-area: articule;
}



main .form {
  min-height: 50vh;
  margin: 3rem 0 0 0;

}

form {
  background-color: var(--principal-color);
}

.form__textareainput {
  align-items: center;
}

.container{
  padding: 5rem;
}
/* Main About */




/* Main Services */



/*Footer*/

footer {
  display: flex;
  background-color: var(--secondary-color);
  min-height: 10vh;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

footer p{
  color: var(--extra-colorB);
}

.footer__copyright {
  font-size: var(--text-md);
}

.footer__whatsapp {
  height: 5.5rem;
}

html{
  background-color: var(--principal-color);
}

.card-text{
  color: black;
}

.card-title{
  color: black;
}

/* Fade Imagenes*/

.fade-in-image {
  opacity: 50%;
}

.fade-in-image:hover {
  opacity:100%;
  transition:opacity 2s;
  
}

.image-scale{
  filter: grayscale(100%);
  transition: 2.5s;
}

.image-scale:hover{
  filter: grayscale(0%);
}

/* Animaciones */

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes changecolor {
  0%{
    background-color: aquamarine;
  }

  33%{
    background-color: aqua;
  }

  66%{
    background-color: cornflowerblue;
  }

  100%{
    background-color:darkturquoise;
  }
}
  


/*media "prueba" */

@media screen and (max-width: 768px) {

body{
 animation: changecolor 5s infinite ;
}
  
}

/*
@media screen and (max-width: 768px) {
  header {
    padding: 2em;
  }

  header .navbar {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  .bienvenida {
    display: flex;
    flex-direction: column;
  }

  .menu {
    font-size: .9em;
    flex-direction: column;
  }

  html {
    background-color: aquamarine;
  }

  p {
    color: var(--extra-colorb);
    font-size: 1.1em;
    font-family: black;
  }

  h1,
  h2,
  h3 {
    font-size: 2em;
    font-family: var(--font-titule);
    color: black
  }

  .bienvendia__imagen {
    width: fit-content;
    position: -1;
  }

  .menu__link {

    color: blue;
  }

  .menu__logo {
    order: 1;
  }

  main .objetivos {
    display: flex;
    flex-direction: column-reverse;
  }


}

*/