.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0 !important;
  width: 100%;
  background-color: $parcials-color;
  min-height: 10vh;  

  &__copyright {
    color: $personal-color;
  }

  &__img{
    height: 3.5em;
    color: $personal-color;
    &:hover{
      animation: shake linear 1000ms infinite;
    }
  }

  @media screen and (max-width: 768px) {

    &__copyright{
      font-size: $text-sm;
    }

    &__img{
      height: 2.5em;
    }


}
}