footer {
  display: flex;
  background-color: $secondary-color;
  /*Solo se vera un 10 porciento disponible de la pantalla*/
  min-height: 10vh;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
  bottom: 0;

  .footer__copyright__text {
    color: $color-black;
    font-size: $text-md;
  }



  .footer__whatsapp {
    height: 5.5rem;

  }



}