.nav {
  display: flex;
  align-content: center;
  background: $parcials-color;
  width: 100%;
  color: $color-white;
  min-height: 10vh;

  &__container {
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    gap: 1.5em;
    align-items: center;
  }

  &__logoimg {
    &:hover {
      animation: shake linear 1000ms infinite;
    }
  }

  &__logotext {
    &:hover {
      animation: move linear 2000ms infinite;
    }
  }

  &__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5em;
  }

  &__item {
    color: $color-white;
    text-decoration: none;
    --clipy: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    padding: 0.5em 1.5em;
    font-family: $font-link;
    font-size: $text-sm;

    &::after {
      content: "";
      display: block;
      background: $personal-color;
      width: 100%;
      margin-top: 3px;
      height: 3px;
      clip-path: var(--clipy);
      transition: clip-path 0.5s;
      -webkit-transition: clip-path 0.5s;
      -moz-transition: clip-path 0.5s;
      -ms-transition: clip-path 0.5s;
      -o-transition: clip-path 0.5s;
    }

    &:hover {
      --clipy: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }

    &:hover {
      color: $personal-color;
    }

    &--active {
      color: $parcials-color;
      background: $personal-color;
      padding: 0.5em 1.5em;
      border-radius: 15em;
      text-align: center;
      font-family: $font-link;
      font-size: $text-sm;
    }
  }

  &__label,
  &__input,
  &__logoalternative {
    display: none;
  }

  @media screen and (max-width: 1135px) {
    .nav__logotext {
      display: none;
    }

    .nav__logoalternative {
      display: contents;
    }
  }

  @media screen and (max-width: 800px) {
    .nav__label {
      display: block;
      cursor: pointer;
    }

    .nav__logotext {
      display: none;
    }

    .nav__menu {
      padding-top: 10em;
      position: absolute;
      top: auto;
      bottom: 0;
      background: $principal-color;
      width: 100%;
      left: 0;
      display: flex;
      gap: 5.5em;
      flex-direction: column;
      align-items: center;
      clip-path: circle(0 at center);
      transition: clip-path 1s ease;
      -webkit-transition: clip-path 1s ease;
      -moz-transition: clip-path 1s ease;
      -ms-transition: clip-path 1s ease;
      -o-transition: clip-path 1s ease;
    }

    .nav__input:checked + .nav__menu {
      clip-path: circle(100% at center);
    }
  }
}
