.contact {
  min-height: 80vh;

  width: 100%;
  color: $parcials-color;

  &__container {
    width: 60%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;

    .form {
      &__titule {
        text-align: center;
        font-size: $text-md;
      }

      label {
        font-family: $font-paragraph;
        font-size: $text-sm;
        margin-left: 1rem;
        margin-bottom: 1rem;
      }

      select {
        font-family: $font-paragraph;
        option {
          font-family: $font-paragraph;
          font-size: $text-smallest;
          margin-left: 1rem;
          margin-bottom: 1rem;
        }
      }

      &__input {
        margin-right: 1rem;
        margin-left: 0;
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding: 0.5rem;
        width: 100%;
        border: none;
      }

      .button__container {
        display: flex;
        justify-content: space-evenly;
        gap: 2em;
      }

      &__btn {
        width: 15em;
      }
    }
  }
}
