.fade-in-image {
    opacity: 50%;
}

.fade-in-image:hover {
    opacity: 100%;
    transition: opacity 2s;

}

.image-scale {
    filter: grayscale(100%);
    transition: 2.5s;
}

.image-scale:hover {
    filter: grayscale(0%);
}