/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Globals*/

html {
  font-size: 62.5%;
  /*Para calcular a 10px*/
  width: 100%;
  background: $principal-color;
}

main {
  background: $principal-color;
  min-height: 80vh;
}

body {
  min-height: 80vh;
}

p {
  font-family: $font-paragraph;
  font-size: $text-md;
}

h1,
h2,
h3 {
  font-family: $font-titule;
  font-style: italic;
  font-size: $text-lg;
}

a {
  text-decoration: none;
  text-decoration-color: none;
  text-decoration-line: none;
  color: $personal-color;
  font-family: $font-link;
  font-size: $text-sm;
}

label{
  .nav__img{
    animation: none;
  }
}

@media screen and (max-width: 800px) {
  p{
    font-size: $text-sm;
  }

  h1, h2, h3, h4, h5{
    font-size: $text-md
  }
  
}
