
    $principal-color:#6cc0c0;
    $secondary-color:#c1e2fa;
    $link-color: #ffffff;
    $color-white: white;
    $color-black: black;
    $font-paragraph: "font-family: 'Allura', cursive;";
    $font-titule: "font-family: 'Bebas Neue', cursive";
    $font-link: "font-family: 'Pacifico', cursive";
    $text-xl: 4em;
    $text-lg: 3em;
    $text-md: 2em;
   