$principal-color: #6190e8;
$parcials-color: #293241;
$personal-color: #49cad5;
$color-white: #fff;
$color-black: #000;
$font-paragraph: Montserrat, sans-serif;
$font-link: Arial, Helvetica;
$font-titule: Poppins, sans-serif;
$text-xl: 4em;
$text-lg: 3em;
$text-md: 2.5em;
$text-sm: 1.5em;
$text-smallest: 1em;
